<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <nav class="main-nav">
      <ul>
	<li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
	<li><a href="/about.html" {% if page.url == "/blog.html" %}class="active"{% endif %}>Blog</a></li>
      </ul>
    </nav>
    
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
